body{
    background-color: rgb(76, 126, 218);
}
main{
    text-align: center;
    width: 100%;
    height: 100%;

}
#btns{
    background-color: blue;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
}
 